{% extends 'base.html' %}

{% block title %}
アカウント管理メニュー
{% endblock %}

{% block content %}

<a class="btn css_btn_green mx-auto d-block" href="{% url 'management_print_seal' %}">印影登録</a><br>
<a class="btn css_btn_green mx-auto d-block" href="{% url 'management_holiday' %}">イーゼ祝祭日確認</a><br>
<a class="btn css_btn_green mx-auto d-block" href="/admin/password_change">パスワード変更</a><br>

{% endblock %}