@media (min-width: 768px) and (max-width: 991px) {
  .navbar-expand-sm .navbar-nav .nav-link{
    padding-right: 2rem;
  }
  .container .content{
    padding-top: 5rem;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .navbar-expand-sm .navbar-nav .nav-link{
    padding-right: 3rem;
  }
  .container .content{
    padding-top: 6rem;
  }
}
@media (min-width: 1200px) {
  .navbar-expand-sm .navbar-nav .nav-link{
    padding-right: 6rem;
  }
  .container .content{
    padding-top: 8rem;
  }
}
.container{
    width: 30%;
}
h5{
    font-weight:bold;
    text-align: center;
}
body{
    background-color: #F0F0F0;
}
input {
	width:100%;
}
.errorlist{
    list-style:none;
    color:red;
}

.css_btn_blue {
	font-size:16px;
	font-family:Arial;
	font-weight:normal;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #84bbf3;
	padding:9px 18px;
	text-decoration:none;
	background:-moz-linear-gradient( center top, #79bbff 5%, #378de5 100% );
	background:-ms-linear-gradient( top, #79bbff 5%, #378de5 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #79bbff), color-stop(100%, #378de5) );
	background-color:#79bbff;
	color:#ffffff;
	display:inline-block;
	text-shadow:1px 1px 0px #528ecc;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #bbdaf7;
 	-moz-box-shadow:inset 1px 1px 0px 0px #bbdaf7;
 	box-shadow:inset 1px 1px 0px 0px #bbdaf7;
}.css_btn_blue:hover {
	background:-moz-linear-gradient( center top, #378de5 5%, #79bbff 100% );
	background:-ms-linear-gradient( top, #378de5 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#378de5', endColorstr='#79bbff');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #378de5), color-stop(100%, #79bbff) );
	background-color:#378de5;
}.css_btn_blue:active {
	position:relative;
	top:1px;
}
