@media (min-width: 768px) and (max-width: 991px) {
  .navbar-expand-sm .navbar-nav .nav-link{
    padding-right: 2rem;
  }
  .container .content{
    padding-top: 1rem;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .navbar-expand-sm .navbar-nav .nav-link{
    padding-right: 3rem;
  }
  .container .content{
    padding-top: 1rem;
  }
}
@media (min-width: 1200px) {
  .navbar-expand-sm .navbar-nav .nav-link{
    padding-right: 6rem;
  }
  .container .content{
    padding-top: 1rem;
  }
}

body{
    background-color: #F0F0F0;
}

/* 緑のボタン コンテンツ内で使用 */
.css_btn_green {
	width:15rem;
	font-size:16px;
	font-family:Arial;
	font-weight:normal;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #83c41a;
	padding:9px 18px;
	text-decoration:none;
	background:-moz-linear-gradient( center top, #9dce2c 5%, #8cb82b 100% );
	background:-ms-linear-gradient( top, #9dce2c 5%, #8cb82b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dce2c', endColorstr='#8cb82b');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #9dce2c), color-stop(100%, #8cb82b) );
	background-color:#9dce2c;
	color:#ffffff;
	display:inline-block;
	text-shadow:1px 1px 0px #689324;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #c1ed9c;
 	-moz-box-shadow:inset 1px 1px 0px 0px #c1ed9c;
 	box-shadow:inset 1px 1px 0px 0px #c1ed9c;
}
.css_btn_green:hover {
	background:-moz-linear-gradient( center top, #8cb82b 5%, #9dce2c 100% );
	background:-ms-linear-gradient( top, #8cb82b 5%, #9dce2c 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cb82b', endColorstr='#9dce2c');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #8cb82b), color-stop(100%, #9dce2c) );
	background-color:#8cb82b;
}
.css_btn_green:active {
	position:relative;
	top:1px;
}

h5{
    font-weight:bold;
}
.titlebar {
   font-weight:bold;          /* 太字にする */
}
.titlebar .title {
   text-align: left;  /* 文章を左寄せする(※) */
   float: left;     /* 左端に寄せて、後続を右側へ回り込ませる */
}
.titlebar .username {
   text-align: right; /* 文章を右寄せする */
}
