{% extends 'account_base.html' %}

{% block content %}
<h5>Logout</h5>
<section class="common-form">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="submit">Logout</button>
    </form>
</section>
{% endblock %}