{% extends 'account_base.html' %}
{% block content %}

<form action="" method="POST">
    <h5 class="text-center">パスワードリセット</h5><br>
    <p>
        パスワード再設定を完了しました。<br>
        <a href="{% url 'accounts:login' %}">ログイン</a>
    </p>
</form>

{% endblock %}
