{% extends 'account_base.html' %}
{% block content %}

<h5>パスワードリセット</h5><br>

<form action="" method="POST">
    {{ form.non_field_errors }}

    <div align="center">
    <div class="form-group">
        <input type="password" name="new_password1" required id="id_new_password1" placeholder="新しいパスワード">
    </div>
    <div class="form-group">
        <input type="password" name="new_password2" required id="id_new_password2" placeholder="新しいパスワード(確認用)">
    </div>
    </div>
    {% csrf_token %}
    <button type="submit" class="css_btn_blue mx-auto d-block">送信</button>
</form>

{% endblock %}
