{% extends 'account_base.html' %}
{% block content %}

<div class="text-center">
<h5>パスワードリセット</h5><br>
<a href="{% url 'accounts:login' %}">ログイン画面へ</a>
<form action="" method="POST">
    {{ form.non_field_errors }}
    <p>メールを受信してパスワードの変更手続きを行います。</p>
    <p>メールアドレスを入力して送信ボタンを押してください。</p>
    {% for field in form %}
    <div class="form-group">
        <input type="email" name="email" maxlength="254" required id="id_email" placeholder="メールアドレス">
        {{ field.errors }}
    </div>
    {% endfor %}
    {% csrf_token %}
    <pre>メールが届かない場合はシステム管理者に連絡してください。</pre>
    <br/>
    <button type="submit" class="css_btn_blue mx-auto d-block">送信</button>
</form>
    </div>

{% endblock %}

    {% for field in form %}
    <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
        {{ field }}
        {{ field.errors }}
    </div>
    {% endfor %}
