{% extends 'account_base.html' %}
{% block content %}

<h5>パスワードリセット（メール送信）</h5><br>
<form action="" method="POST">
    <div align="center">
        <p>パスワードリセットのメールを送信しました。
            <br/>
            リンクからパスワードの再設定を行ってください。
            <br/>
            <br/>
            <br/>
            <a href="{% url 'accounts:login' %}" style="text-align:center">ログイン画面へ戻る</a>
        </p>
    </div>
</form>

{% endblock %}
