{% extends 'base.html' %}

{% block title %}
勤務表メニュー
{% endblock %}

{% block content %}

<form action="." method="post">{% csrf_token %}
{{ form.as_p }}

<a class="btn css_btn_green mx-auto d-block" href="{% url 'roster_edit' %}">勤務表入力</a><br>
<a class="btn css_btn_green mx-auto d-block" href="{% url 'roster_reference' %}">勤務表参照</a><br>
<a class="btn css_btn_green mx-auto d-block" href="{% url 'roster_approval_status' %}">勤務表承認状況</a><br>

</form>
    {% endblock %}