{% extends 'account_base.html' %}
{% block content %}

<h5 class="text-center">社内システム ログイン</h5><br>
<section class="common-form">
    <form method="post">
        {% csrf_token %}
        <font color="red">アカウントがロックされました<br>上長に連絡し、ロックの解除を申請して下さい</font>
        <p><input type="text" name="username" autofocus class="form-control" placeholder="メールアドレス" required id="id_username"></p>
        <p><input type="password" name="password" class="form-control" placeholder="パスワード" required id="id_password"></p>

        <button type="submit" class="submit css_btn_blue mx-auto d-block">ログイン</button>
    </form>
</section>


{% endblock %}
