{% load staticfiles %}
{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/common.css' %}" rel="stylesheet">
    {% block extra_css %}{% endblock %}
    <title>勤怠システム</title>
</head>
<body>
<header>
    {% include 'header.html' %}
    {% block header %}{% endblock %}
</header>
<div class="container">
    <div class="content">
        <div class="titlebar">
            <p class="title">{% block title %}{% endblock %}</p>
            <p class="username">{% if request.user.is_authenticated %}<img src="/media/icon.png" width="2%"/>{{ request.user.get_full_name }}{% endif %}</p>
        </div>
        {% block content %}{% endblock %}
    </div>
</div>
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
{% block extra_js %}{% endblock %}
</body>
</html>