<nav class="navbar navbar-fixed-top navbar-expand-sm navbar-dark bg-dark">
    <div class="collapse navbar-collapse container">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">TOP</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'roster_top' %}">勤務表</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'salaried_top' %}">有給</a>
            </li>
            {% if request.user.is_superuser %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'master_top' %}">マスタ</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'management_top' %}">アカウント管理</a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>