{% extends 'base.html' %}

{% block title %}
マスタメニュー
{% endblock %}

{% block content %}
<a class="btn css_btn_green mx-auto d-block" href="/admin">各種管理</a><br>
<a class="btn css_btn_green mx-auto d-block" href="{% url 'master_roster_approval' %}">勤務表承認</a><br>
<a class="btn css_btn_green mx-auto d-block" href="{% url 'master_salaried_approval' %}">有給承認</a><br>
{% endblock %}
