{% extends 'base.html' %}

{% block title %}
有給メニュー
{% endblock %}

{% block content %}
<a class="btn css_btn_green mx-auto d-block" href="{% url 'salaried_request' %}">有給申請</a><br>
<a class="btn css_btn_green mx-auto d-block" href="{% url 'salaried_approval_status' %}">有給承認状況</a><br>
{% endblock %}